#player-placeholder {
    /* background-color: red; */
    position: inherit;
    height: 400px;
    width: 250px;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    /* background-image: url("https://ui-ex.com/images/luigi-transparent-mario-character.png"); */
    background-size: 120%;
    background-repeat: no-repeat;
    /* border: 4px dotted yellow; */
    background-position: bottom;
    transform-origin: bottom left;

}