 .select-stats {
     margin-top: 2rem;
     display: block;
     position: static;
     border-radius: 40px;
 }

 .selection-box {
     width: 42rem;
     /* background-color: purple; */
     display: block;
     margin: 10px auto;
     position: inherit;
 }

 h2 {
     color: gold;
     opacity: 1;
     font-size: 3.7rem;
     -webkit-text-stroke-width: 2px;
     -webkit-text-stroke-color: black;
     padding: 5px;
     margin: 0 auto;
     text-shadow: 2px 2px 2px black;
     /* float: left; */
 }

 .select {
     margin: 0 auto;
     text-align: center;
     /* background-color: brown; */
     margin: 0px 0px 25px 0px;
     background-blend-mode: hard-light;
     background-repeat: no-repeat, repeat;
     background-size: cover;
     /* background-image: url("https://media.giphy.com/media/CyeGh5u6xmhgY/200w_d.gif"); */
 }

 #p1Select {
     float: left;
     width: 45%;
     border-top-left-radius: 10%;
     border-bottom-left-radius: 10%;
     background-color: #e03333;
 }

 #p2Select {
     float: right;
     width: 45%;
     border-top-right-radius: 10%;
     border-bottom-right-radius: 10%;
     background-color: #4137ce;
 }

 h3, li {
     /* float: right; */
     padding-right: 1rem;
     list-style: none;
     color: white;
     clear: both;
     margin: 5px auto;
     opacity: 1;
     font-size: 1.9rem;
     font-weight: bolder;
     -webkit-text-stroke-width: 2px;
     -webkit-text-stroke-color: black;
 }