.select-stats {
    margin-top: 10px;
    /* display: flex; */
    padding: 0 35px 35px 50px;
    position: static;
    width: 98%;
    justify-content: center;
    /* padding-top: 350px; */
    /* border-image: linear-gradient(45deg, rgb(100,0,0), rgb(250,224,66)) 1; */
}
h1 {
    letter-spacing: 5px;

}
h2 {
    color: goldenrod;
    

}
h3, li {
    color: gold;
    clear: both;
    /* float: right; */
    padding-right: 200px;
    margin: 0 auto;

}