.nav{background-color: blue;
    list-style: none;
    /* display: inline; */
    z-index: 9999;
    position: absolute;
    top: 0;
    background-color: #330000;
    /* top: 900; */
    left: 200px;
    display: inline;
    padding: 0 30px;
}

.nav > li {
display: inline;
padding: 0  6.2rem;

}
.nav > li {
   text-decoration: none;
    }

    * {
        text-decoration: none;
    }