.timer-and-hp {
    margin: 0px auto;
    position: absolute;
    width: 1244px;
    height: 6rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 3px 16px 2px black;
    background-color: #522f2c;
    border-top: solid 1px red;
    border-bottom: ridge 8px orangered;
    border-right: ridge 3px orangered;
    border-left: ridge 3px orangered;
    background-image: url("https://www.transparenttextures.com/patterns/black-twill.png");
}

.timer-elem {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 8px 1px black;
    height: 5.6rem;
    z-index: 999999;
    background-color: #522f2c;
    background-image: url("https://www.transparenttextures.com/patterns/black-twill.png");
    width: 7.9rem;
    margin: 0 auto;
    border-bottom: groove 6px orangered;
    border-right: groove 3px orangered;
    border-left: ridge 3px orangered; 
    float: left;
    padding-top: .8rem;
}

.timer-elem h1 {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
}

.hp-bar {
    position: inherit;
    top: .9rem;
    z-index: 99;
    /* display: inline; */
}

.hp-bar meter {
    height: 2.7rem;
    width: 33.7rem;
    background-color: gray;
    /* float: left; */
}

.p1 {
    margin-top: .8em;
    left: 1rem;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    float: left;
}

.p1Special meter {
    margin-top: .5rem;
    height: 1.36rem;
    width: 33.7rem;
    background-color: gray;
}

.p2 {
    margin-top: .8em;
    right: 1rem;
    /* clear: both; */
    /* float: right; */
}

.p2Special meter {
    margin-top: .5rem;
    height: 1.36rem;
    width: 33.7rem;
    background-color: gray;
}

.p2Special {
    position: inherit;
    top: .9rem;
    z-index: 99;
}

meter::-webkit-meter-bar {
    background: none;
    /* Required to get rid of the default background property */
    background-color: whiteSmoke;
    box-shadow: 0 5px 7px -2px black inset;
    /* border-radius: 30px; */
    border: 5px inset #2d2d2d;
    border-top: 3px inset #262626;
    border-left: none
}

meter::-webkit-meter-optimum-value {
    background: green;
}

meter::-webkit-meter-suboptimum-value {
    background-image: url("https://i.gifer.com/Cad.gif");
    background: orange;
}

meter::-webkit-meter-even-less-good-value {
    background: red;
}


/* =========== */

.special meter::-webkit-meter-bar {
    background: none;
    /* Required to get rid of the default background property */
    background-color: whiteSmoke;
    box-shadow: 0 5px 7px -2px black inset;
    /* border-radius: 30px; */
    border: 5px inset #2d2d2d;
    border-top: 3px inset #262626;
    border-left: none
}

.special meter::-webkit-meter-optimum-value {
    background: #0a1fdb;
}

.special meter::-webkit-meter-suboptimum-value {
    background-image: url("https://i.gifer.com/Cad.gif");
    background: #616ee2;
}

.special meter::-webkit-meter-even-less-good-value {
    background: #a6aded;
}

