.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid orangered;
    border-color: red transparent yellow transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#spinner {
    margin: 0 auto;
    display: inline-block;
    display: flex;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    position: absolute;
    top: calc(100vh - 12rem);
    /* transform: translateY(-400); */
}

/* .center-screen {
   
    flex-direction: column;

    min-height: 100vh;
  } */