.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    /* height: 97vh; */
    margin: 0 auto;
    background-color: gray;
    /* height: 100vh; */
    min-height: calc(100vh - 20px);
    position: absolute;
    top: 0;
    /* background-image: url('https://im3.ezgif.com/tmp/ezgif-3-64693d2afad8.gif'); */
background-color: #933a16;
    background-attachment: fixed;
    background-size: cover;
    
    /* background-color: black; */
    /* opacity: .3; */
}
