.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 97vw;
    margin: 0 auto;
    background-color: gray;
    height: 90vh;
    position: absolute;
    top: 0;
}