.footer {
    height: 1.4rem;
    font-size: 13px;
    color: white;
    background-color:#330000;
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    padding-top: 4px;
    border-top: inset 1px orangered;
    z-index: 9;

}



.footer #info {
    float: left;
    margin-left: 15px;
}

.footer #settings {
    float: right;
    margin-right: 15px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }

.footer #settings:hover .settings-dropdown {
    display: block;}

.settings-dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .settings-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }