.profile-R {
    bottom: 0;
    right: -60px;
    z-index: 100;
    position: absolute;
    width: 32%;
    /* height: 0%; */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: contrast(0) sepia(100%) hue-rotate(190deg) saturate(0%) brightness(0%);
    filter: contrast(0) sepia(100%) hue-rotate(190deg) saturate(0%) brightness(0%);
    opacity: 1;
    /* outline-style: solid; */
  /* outline-color: red; */
    /* -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black); */
    /* filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black); */
    /* background-image: url('https://i.gifer.com/XZ5L.gif') */
} 