.img-block {
  height: 120px;
  width: 130px;
  margin: 9px 17px;
  border: 6px double gold;
  border-style: inset;
  border-top-right-radius: 20px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;

  border-bottom-left-radius: 20px;
  float: left;
  background-size: cover;
  background-position: center;
  z-index: 100;
  box-shadow: 6px 9px brown;

}

